<launch>
  <param name="robot_description"
         command="$(find xacro)/xacro.py '$(find pr2_mechanism_diagnostics)/test/urdf/wrist.urdf.xacro'" />
  
  <node pkg="pr2_mechanism_diagnostics" type="pr2_mechanism_diagnostics_node" name="pr2_mechanism_diagnostics" >
    <param name="init_trans_check"  value="true" />
  </node>

  <test test-name="wrist_trans_nominal" time-limit="30" 
        pkg="pr2_mechanism_diagnostics" 
        name="trans_nominal" 
        type="trans_error_test.py" >
    <param name="wrist" value="true" type="bool" />
  </test>

  <test test-name="wrist_trans_error_flex" time-limit="30" 
        pkg="pr2_mechanism_diagnostics" 
        name="trans_error_flex" 
        type="trans_error_test.py" >
    <param name="wrist" value="true" type="bool" />
    <param name="flex_error" value="true" type="bool" />
  </test>

  <test test-name="wrist_trans_error_roll" time-limit="30" 
        pkg="pr2_mechanism_diagnostics" 
        name="trans_error_flex" 
        type="trans_error_test.py" >
    <param name="wrist" value="true" type="bool" />
    <param name="roll_error" value="true" type="bool" />
  </test>

  <test test-name="wrist_trans_warn_flex" time-limit="30" 
        pkg="pr2_mechanism_diagnostics" 
        name="trans_warn_flex" 
        type="trans_error_test.py" >
    <param name="wrist" value="true" type="bool" />
    <param name="flex_warn" value="true" type="bool" />
  </test>
  
  <test test-name="wrist_trans_warn_roll" time-limit="30" 
        pkg="pr2_mechanism_diagnostics" 
        name="trans_warn_flex" 
        type="trans_error_test.py" >
    <param name="wrist" value="true" type="bool" />
    <param name="roll_warn" value="true" type="bool" />
  </test>    
</launch>
